#heading{
    padding: 20px;
    height: 150px;
}
#name{
    font-size: 50px;
}
#title{
    margin-left: 30px;
}
#imgDiv{
    border: 5px solid white;
    background-color: black;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-right: 25px;
}
#photoOfMe{
    height: 300px;
    border-radius: 10px;
}
#workLinkDiv{
    margin-top: 40px;
}
#gitDiv{
    border: 2px solid white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}
#linkedinDiv{
    margin-left: 10px;
    border: 2px solid white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}
#gitLogo{
    height: 100px;
}
#linkedinLogo{
    height: 100px;
}
#socials{
    margin-top: 40px;
}
#facebookDiv{
    border: 2px solid white;
    background-color: black;
    border-radius: 50%;
    padding: 5px;
}
#facebook{
    border-radius: 50%;
    height: 100px;
}
#instagramDiv{
    border: 2px solid white;
    background-color: black;
    border-radius: 25%;
    padding: 5px;
}
#instagram{
    border-radius: 25%;
    height: 100px;
}
#twitterDiv{
    border: 2px solid white;
    background-color: black;
    border-radius: 50%;
    padding: 5px;
}
#twitter{
    border-radius: 50%;
    height: 100px;
}