#heading{
    padding: 20px;
    height: 150px;
}
#name{
    font-size: 50px;
}
#title{
    margin-left: 30px;
}
#contactHead{
    padding-top: 5px;
    text-align: center;
}
#contact{
    padding: 20px;
}
#imgDiv{
    border: 5px solid white;
    background-color: black;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-right: 25px;
}
#photoOfMe{
    height: 300px;
    border-radius: 10px;
}
#workLinkDiv{
    margin-top: 20px;
}
#gitDiv{
    border: 2px solid white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}
#linkedinDiv{
    margin-left: 10px;
    border: 2px solid white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
}
#gitLogo{
    transform: scale(1,1);
    height: 100px;
}
#linkedinLogo{
    height: 100px;
    transform: scale(1,1);
}
#socials{
    margin-top: 40px;
}
#facebookDiv{
    border: 2px solid white;
    background-color: black;
    border-radius: 50%;
    padding: 5px;
}
#facebook{
    border-radius: 50%;
    height: 100px;
    transform: scale(1,1);
}
#instagramDiv{
    border: 2px solid white;
    background-color: black;
    border-radius: 25%;
    padding: 5px;
}
#instagram{
    border-radius: 25%;
    height: 100px;
    transform: scale(1,1);
}
#twitterDiv{
    border: 2px solid white;
    background-color: black;
    border-radius: 50%;
    padding: 5px;
}
#twitter{
    border-radius: 50%;
    height: 100px;
    transform: scale(1,1);
}
#bioAndSkills{
    margin-top: 20px;
    margin-bottom: 10px;
}
#skills{
    margin-top: 40px;
}
#skillListTitle{
    font-size: 25px;
}
.gitLinks{
    color: white;
    font-size: 20px;
}
#listTitle{
    padding: 10px;
}
#footer{
    height: 150px;
}
#gmail{
    height: 75px;
    margin-top: 40px;
    border-radius: 5%;
}
#email{
    font-size: 75px;
    margin-top: 27px;
    margin-left: 15px;
}
@media(max-width: 1065px){
    #imgDiv{
        border: 5px solid white;
        background-color: black;
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
        margin-top: 20px;
        margin-left: 50px;
    }
}